@import"./variable.scss";
@import"./images.scss";

$colors: (
    primary: #AD1457,
    darkprimary: #880E4F,
    lightprimary: #FF80AB,
    primary-color-text: #FFFFFF,
     );
@function color($color-name){
    @return map-get($colors, $color-name);
}
$padding: 1.3rem;
body {
    background-color: rgba(color(primary),0.4);
} 

.flex-parent {
    background-color: #FF80AB;
    height: 60vh;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    display: flex; }

.flex-child{
    background-color: #FF8A80;
    height: 20vh;
    margin: 10px;
    color: #B71C1C;
}

#flex-grow-1{
    flex-grow:1;
}

